.categorias{
    width: var(--width-max); 
    margin: auto;
  
}


.titulo__categorias{
    width: var(--width-basic);
    margin: auto;
    text-align: center;
    padding: 100px 0px 25px 0px;
    font-size:xx-large;
    font-weight: bold;
}


.titulo__categorias ul{
   list-style: none;
}



.titulo__categorias a{
    text-decoration: none;
 }


.categorias__secciones{
    padding: 30px 0px;
    width: var(--width-basic);
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( min(100%, 400px), 1fr));
    grid-auto-rows: 400px;
    gap: 10px;
    /*grid-template-columns: repeat(3, 1fr);*/
    text-align: center;
    min-height: 600px;    
}

/*tarjetas*/


.categorias__secciones--titulo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--color-primary);  */
    padding: 0px 30px;
}

.categorias__secciones--titulo:hover{
    transform: scale(1.09);
	box-shadow: 5px 5px 5px 2px #b5b5b5;
    transition: all 0.2s ease-out;
    background-color: var(--bg-color);
}





.categorias__secciones--titulo a{
    text-decoration: none;
    /*  margin: 15px 20px; */
    /* border: 1px solid var(--color-primary); */
    padding: 30px 30px;
  
}

.categorias__secciones--titulo a:nth-child(1){
  min-height: 160px;  
}


/* .categorias__secciones--titulo a:hover{
    transform: scale(1.09);
	box-shadow: 5px 5px 5px 2px #b5b5b5;
    transition: all 0.2s ease-out;
}  */

.categorias__secciones--titulo a:nth-child(2){
    background-color: var(--color-primary);
    color: var(--bg-second);
    padding: 15px 20px;

    
}

.categorias__secciones--titulo a:nth-child(2):hover{
  background-color: var(--color-secondary);

  transform: scale(1.09);
  box-shadow: 5px 5px 5px 2px #b5b5b5;
  transition: all 0.2s ease-out;
}


/*botones de navegacion*/


.boton{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px auto;
    width: var(--width-basic);
}


.boton .boton_navegacion:nth-child(1){
   text-align: left;
   margin-right: 10px;
}

.boton .boton_navegacion:nth-child(2){
    text-align: right;
    margin-left: 10px;
 }


.boton_navegacion a{
    padding: 10px 30px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--bg-color);
    text-decoration: none;
   
}


.boton_navegacion a:hover{
    transform: scale(1.09);
    box-shadow: 5px 5px 5px 2px #b5b5b5;
    transition: all 0.2s ease-out;
    background-color: var(--color-secondary);
}


.regresar{
    background-color: var(--color-primary);
    padding: 10px 25px;
    color: var(--bg-second);
    text-decoration: none;
}


.regresar:hover{
    background-color: var(--color-secondary);
 
}

/*Cuando no hay publicacion*/

.no_respuesta{
    width: var(--width-basic);
    margin: auto;
}