@import url(estilos/customize.css);

.head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 70%;
    height: 100px;
    background-color: var(--bg-color);
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: -2px 2px 22px 0px rgba(0,0,0,0.75);
    
}

.head__logo{
    display: flex;
    align-items: center;
    justify-content: left;
   
}


.head__logo img{
    width: 100px;
    height: auto;
    padding: 10px 10px 10px 10px;   
}

.head__menu{
   display: flex;
   justify-self: right;
   align-items: center;
   justify-content: right; 
}

.head__menu a{
    margin: 20px 20px 20px 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--color-primary);
    border-radius: 15px;
}


.head__menu a:hover{
    color: var(--bg-color);
    background-color: var(--color-secundary);
    border-radius: 15px;
}


@media (max-width: 768px){

    .head{
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }   


    .head__logo{
        display: flex;
        align-items: center;
        justify-content: center;
       
    }

    .head__menu{
        display: none;
     }

}